__pycache__/
.env
.ipynb_checkpoints/
.vscode/
data.csv
db_index
analyse.csv
preprocessed_data.csv
results.png
training.png
mlruns
artefact/wordcloud*
artefact/models
artefact/panda_report_output.html
artefact/repartitions.png
artefact/history*