# Initial settings
y_classificaton_column: "GUI" # Column which contains the classification result
drop_columns: []
test_size: 0.3 # Percentage of data used for testing

# Preprocessing
stemming: False
lemmitization: True

# Word2Vec
vector_size: 300
window: 8
w2v_epochs: 30
sequence_length: 50
