# Database
pymysql==1.0.2
mysql-connector-python==8.0.28

# UMLS Api requirements
python-dotenv==0.20.0
lxml==4.8.0
urllib3==1.25.8

# Plottings
matplotlib==3.5.1
matplotlib-inline==0.1.3
seaborn==0.11.2
ipympl==0.9.0
jupyterlab-widgets==1.1.0

# Word Embedding
gensim==4.1.2

# Machine Learning requirements
tensorflow==2.8.0
scikit-learn==1.0.2